@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Clinic Manager</h1>
    <p class="lead">Easy to use and always available</p>
    <p><a href="http://localhost:51584/Home/Pacient" class="btn btn-primary btn-lg">Pacient &raquo;</a></p>
    <p><a href="http://localhost:51584/Home/Doctor" class="btn btn-primary btn-lg">Doctor &raquo;</a></p>
</div>
